@import "victormono";

body {
  background-color: #0091ad;
}

.App {
  text-align: center;
}

.heading {
  font-size: calc(100px + 2vmin);
  margin: 2.5% 0;
}

.button-group {
  display: flex;
}

button {
  font-size: calc(10px + 2vmin);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #892b64;
  width: 75%;
  align-self: center;
  color: #000;
  font-family: "Victor Mono";
}

.input-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}

input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 5px;
  background-color: #892b64;
  text-align: center;
  font-size: 10rem;
  color: #000;
  font-family: "Victor Mono";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 767px) {
  .input-section {
    width: 95%;
  }
}
